
input.input{
    /* width: 100%; */
    min-height: 44px;
    line-height: 44px;
    border: 1px solid #eee;;
    border-radius: 4px;
    -webkit-appearance: none;
    padding: 0 24px;
    font-size: 14px;
}

textarea.textarea{
    /* width: 100%; */
    // min-height: 44px;
    // line-height: 44px;
    border: 1px solid #eee;;
    border-radius: 4px;
    -webkit-appearance: none;
    padding: 20px 24px;
    font-size: 14px;
}

button.button{
    /* width: 100%; */
    min-height: 44px;
    line-height: 44px;
    border: 1px solid #eee;;
    border-radius: 4px;
    -webkit-appearance: none;
    padding: 0 24px;
    font-size: 14px;
    background-color: $primary-color;
    color: white;
    &.error-btn{
        background-color: $error-color;
    }
    &.outline-btn{
        background-color: transparent;
        border-color: $primary-color;
        color: $primary-color;
    }
    &.sm-btn {
            line-height: 32px;
            min-height: 32px;
    }
}


.form-field{
    margin-top: 16px;
    margin-bottom: 16px;

    label.form-label{
        display: block;
        word-wrap: break-word;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.375em;
        color: #484848;
        margin-bottom: 8px;
    }
    input.input{
        width: 100%;
    }

    textarea.textarea{
        width: 100%;
    }
}

.button-group{
    margin-top: 16px;
    margin-bottom: 16px;

    button + button{
        margin-left: 10px;
    }
}