@import '../style/variables';
@import '../style/grid';
@import 'form';

ul{
    padding: 0;
}
*{
    box-sizing: border-box;
}
body{
    background-color: $background-color;
    padding: 0;
    margin: 0;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
}


// header {

// }


$header-size: 60px;
aside#sidebar{
    position: fixed;
    left: 0;
    top: $header-size;
    bottom: 0;
    width: 280px;
    background-color: white;

    & + #main-container{
        padding-left: 280px + 80px;
    }

}

.main > .container{
    padding-top: $header-size;
}

#main-container{
    // @media (max-width: 1200px){
        padding-left: 280px + 80px;
        padding-right: 80px;
    // }
    text-align: left;
}
