#modal-container > #modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;

    & > #modal-blur{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.2);

        & > #modal-main{
            position: absolute;
            left: 50%;
            top: 50%;
            background-color: white;
            padding: 20px;
            transform: translate(-50%,-50%);
    
        }
        
    }
}