.playlist {
    background-color: white;
    border: 1px solid #E8EBED;
    .video {
        padding: 10px;
        position: relative;
        display: flex;
        min-height: 70px;
        align-items: center;
        &-thumbnail {
            height:70px;
            width:94px;
            display: inline-block;
            img {
                height: 100%;
            }
        }
        &-info {
            cursor: pointer;
            padding: 0 15px;
            flex: 1;
            flex-basis: 0.000000001px;
            text-align: start;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            .video-name {
                margin: 0;
                font-size: 14px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .video-description {
                font-size: 12px;
                min-height: 20px;
                white-space: normal;
                @media (max-width: 1200px){
                    display: none;
                }
            }
        }

        &-function {
            //position: absolute;
            //right: 16px;
            //width: 50px;
            //height: 100%;
            //top: 0;
            //text-align: center;
            width:50px;
            height:100%;
            display: inline-block;
            button{
                top: 50%;
                margin-top: -12px;
            }
        }

    }
}