.playlist {
    background-color: white;
    border: 1px solid #E8EBED;
    .video {
        padding: 10px;
        position: relative;
        display: flex;
        min-height: 70px;
        align-items: center;
        &-thumbnail {
            height:70px;
            width:94px;
            display: inline-block;
            img {
                height: 100%;
            }
        }
        &-info {
            cursor: pointer;
            padding: 0 15px;
            flex: 1;
            flex-basis: 0.000000001px;
            text-align: start;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            .video-name {
                margin: 0;
                font-size: 14px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .video-description {
                font-size: 12px;
                min-height: 20px;
                white-space: normal;
                @media (max-width: 1200px){
                    display: none;
                }
            }
        }

        &-function {
            width:50px;
            height: 50px;
            line-height: 50px;
            display: inline-block;
            text-align: center;
            position: relative;
            .video-download-progress {
                position: absolute;
                left:0;
                top: 0;
                width: 50px;
                //height: 50px;
                transition: width 0.2s;
                border-top: 2px solid rgb(252, 0, 102);
                //border-radius: 50%;
            }

        }

    }
}