.playlist-container {
    box-shadow: none !important;
    .playlist {
        background-color: white;
        //border: 1px solid #E8EBED;
        .video {
            padding: 10px;
            position: relative;
            display: flex;
            min-height: 70px;
            align-items: center;
            & + .video {
                border-top: 1px solid $gray-2;
            }
            &-thumbnail {
                height: 70px;
                width: 94px;
                //display: inline-block;
                display: none;
                @media (max-width: 750px) {
                    height: 50px;
                    width: 68px;
                }
                img {
                    height: 100%;
                }
            }
            &-info {
                cursor: pointer;
                padding: 0 15px;
                @media (max-width: 750px) {
                    padding: 0 5px;
                }
                flex: 1;
                flex-basis: 0.000000001px;
                text-align: start;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                .video-name {
                    margin: 0;
                    font-size: 14px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-weight: bold;
                    @media (max-width: 750px) {
                        font-weight: normal;
                        padding: 0 5px;
                        white-space: normal;
                        font-size: 12px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                    }
                }
                .video-description {
                    font-size: 12px;
                    min-height: 20px;
                    white-space: normal;
                    @media (max-width: 1200px) {
                        display: none;
                    }
                }
            }

            &-function {
                width: 50px;
                height: 50px;
                line-height: 50px;
                @media (max-width: 750px) {
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                }
                display: inline-block;
                text-align: center;
                position: relative;
            }

        }
    }
}
