//.playlists{
//    background-color: white;
//    min-height: 50px;
//    border: 1px solid #E8EBED;
//    .playlist{
//        padding: 20px;
//        &+ .playlist{
//            border-top: 1px solid #E8EBED;
//        }
//    }
//}
#sidebar {
    //background-color: $mainblue-light !important;
    .playlists {
        .playlist-add-btn {
            width: 20px;
            border-radius: 50% !important;
            vertical-align: top;
            float: right;
            outline: none;
            &:hover {
                background-color: #eee;
            }
        }
        ul {

            li {
                padding: 15px 20px;

            }
        }
    }
}

.playlists-header{
    font-weight:bold;
    &:hover{
        background-color: transparent !important;
        cursor: initial;
    }
}

.playlist-item,.playlists-header {
    //background-color: white;
    //color: white;
    padding: 15px 20px 15px 20px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    &:hover {
        text-decoration: none;
        background-color: rgba(0, 0, 0, 0.08);
    }
}


//
//.board-list{
//    &-header{
//        padding: 20px;
//        border-bottom: 1px solid #eee;
//    }
//    &> ul{
//        padding-left: 0;
//        li{
//            list-style: none;
//        }
//    }
//
//
//}