.youtube-search-form{
    height: 60px;
    line-height: 60px;
    width:100%;
    //padding: 0 15px;
    position: relative;

    input._input{
        padding-left: 40px;
    }
    .search-icon{
        position: absolute;
        top: 50%;
        margin-top: -8px;
        left: 16px;
        color: #777;
    }
    &.main{
        display: none;
        margin: 0 -10px;
        position: sticky;
        top: 0;
        background-color: white;
        z-index: 1;
        border-bottom: 1px solid #eee;
        width: calc(100% + 20px);

        @media (max-width: 1200px) {
            display: block;
        }
    }
}