//button
.btn {
    position: relative;
    display: inline-block;
    margin: 0px auto 0;
    padding: 16px 24px;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    color: $gray-7;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #f8fafb;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    transition: background 0.2s ease, color 0.1s ease;
    outline: 0 !important;
    &:hover {
        text-decoration: none;
    }
    &:disabled {
        cursor: not-allowed;
        pointer-events: none;
    }
    &-default {
        color: #4d5256;
        border-color: #ced3d6;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07);

        &:hover, &:active, &:focus {
            color: #4d5256;
            background-color: #eaeeef;
        }
        &:disabled {
            color: #ced3d6;
            border-color: #e1e4e6;
            background-color: #f8fafb;
            box-shadow: none;
        }
    }

    &-danger {
        color: #4d5256;
        border-color: #ced3d6;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07);

        &:hover, &:active, &:focus {
            color: #f24147;
            border-color: #ff5d5d;
            background-color: #fff4f4;
            -webkit-font-smoothing: subpixel-antialiased;
        }
        &:disabled {
            color: #ced3d6;
            border-color: #e1e4e6;
            background-color: #f8fafb;
            box-shadow: none;
        }
    }

    &-primary {
        color: #4c80f1;
        background-color: #edf2fe;
        border-color: #4c80f1;
        -webkit-font-smoothing: subpixel-antialiased;
        box-shadow: 0 1px 1px rgba(76, 128, 241, 0.32);

        &:hover, &:active, &:focus {
            color: #4c80f1;
            background-color: #dbe6fc;
            -webkit-font-smoothing: subpixel-antialiased;
        }
        &:disabled {
            color: #b7ccf9;
            border-color: #c9d9fb;
            box-shadow: none;
        }
    }

    &-solid {
        color: #f8fafb;
        border-color: #4c80f1;
        background-color: #4c80f1;
        box-shadow: 0 1px 1px rgba(76, 128, 241, 0.5);
        &:hover, &:active, &:focus {
            border-color: #2c5ae9;
            background-color: #2c5ae9;
            -webkit-font-smoothing: subpixel-antialiased;
        }
        &:disabled {
            color: #f8fafb;
            border-color: #c9d9fb;
            background-color: #c9d9fb;
            box-shadow: none;
        }

    }

    &-convex {
        color: #4d5256;
        border-color: #ced3d6;
        background: #f1f5f5;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.7), 0 1px 1px rgba(0, 0, 0, 0.07);
        &:hover, &:active, &:focus {
            color: #4d5256;
            background-color: #e1e4e6;
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.07);
        }
        &:disabled {
            color: #ced3d6;
            border-color: #e1e4e6;
            background-color: #f8fafb;
            box-shadow: none;
        }

    }

    &:active, &:focus {
        box-shadow: none;
    }
    &.btn-block {
        width: 100%;
    }
    &.btn-lg {
        padding: 24px 36px;
        font-size: 17px;
        border-radius: 6px;
    }
}

//button group
.button-group {
    position: relative;
    display: inline-block;
    vertical-align: middle;

    .btn {
        position: relative;
        float: left;

        border-radius: 0;
        & + .btn {
            margin-left: 0px !important;
            margin-left: -1px;
        }

        &:first-child {
            border-radius: 4px 0 0 4px;
        }
        &:last-child {
            border-radius: 0 4px 4px 0;
        }
    }

}

//dropdown

.dropdown {
    display: inline-block;
    box-sizing: content-box;
    position: relative;
    //.btn{
    //    padding-right: 52px;
    //}
    .dropbox-arrow {
        //position: absolute;
        //right:20px;
        //top: 50%;
        //margin-top: -10px;
        margin-left: 8px;
        vertical-align: bottom;
    }

    ul.dropbox-menu-list {
        background-color: white;
        position: absolute;
        top: 100%;
        z-index: 1000;
        min-width: 160px;
        width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
        clear: left;
        border: 1px solid #ced3d6;
        padding: 10px 0;
        border-radius: 4px;

        .dropbox-menu-item {
            line-height: 24px;
            //padding-left: 20px;
            //padding-right: 20px;
            padding: 8px 20px;
            cursor: pointer;
            &:hover {
                text-decoration: none;
                background-color: #f1f5f5;
            }
        }
    }
}

// input

._input {
    height: 54px;
    padding: 16px 24px;
    line-height: 20px;
    vertical-align: middle;
    background-color: #fff;
    color: $text;
    border: 1px solid $gray-4;
    outline: 0 !important;
    border-radius: 4px;
    font-size: 14px;
    max-width: 100%;
    &:focus {
        border-color: $mainblue-light;
        box-shadow: 0 0 0 1px $mainblue-light;
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 1;
        color: #ced3d6;
        background: #f8fafb;
        border-color: #eaeeef;
    }

    &[readonly] {
        cursor: not-allowed;
        opacity: 1;
        color: #ced3d6;
        border-color: #eaeeef;
    }

    &-block {
        width: 100%;
    }
    &._input-prefix {
        &:before {
            content: '';
            @extend .material-icon;
        }
    }
    &._input-suffix {
        &:after {
            content: '';
            @extend .material-icon;
        }
    }
    //date
    &[type="date"], &[type="datetime-local"] {
        position: relative;
        padding: 0 20px 0 74px;
        overflow: visible;
        &::-webkit-inner-spin-button {
            display: none;
            -webkit-appearance: none;
        }
        &::-webkit-calendar-picker-indicator {
            position: absolute;
            left: 0;
            top: 0;
            width: 54px;
            height: 54px;
            opacity: 0;
            z-index: 1;
        }
        &::after {
            @extend .material-icon;
            z-index: 0;
            content: 'calendar_today';
            position: absolute;
            left: 0;
            padding: 14px;
            border-radius: 4px 0 0 4px;
            background-color: #f7fafc;
            color: $text-light;
        }
    }
}

textarea._textarea {
    display: block;
    width: 100%;
    //height: 54px;
    margin: 1px auto 0;
    padding: 16px 24px;
    font-size: 14px;
    line-height: 20px;
    color: #4d5256;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    background-position: center right 16px;
    border: 1px solid #ced3d6;
    border-radius: 4px;
    outline: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: background 0.2s ease, color 0.1s ease, border-color 0.2s ease, outline 0.2s ease;
    &:focus {
        border-color: $mainblue-light;
        box-shadow: 0 0 0 1px $mainblue-light;
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 1;
        color: #ced3d6;
        background: #f8fafb;
        border-color: #eaeeef;
    }

    &[readonly] {
        cursor: not-allowed;
        opacity: 1;
        color: #ced3d6;
        border-color: #eaeeef;
    }
}

._select {
    min-width: 140px;
    height: 54px;
    padding: 16px 24px;
    line-height: 20px;
    vertical-align: middle;
    background-color: #fff;
    color: $text;
    border: 1px solid $gray-4;
    outline: 0 !important;;
    border-radius: 4px;
    font-size: 14px;
    &:focus {
        border-color: $mainblue-light;
        box-shadow: 0 0 0 1px $mainblue-light;
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 1;
        color: #ced3d6;
        background: #f8fafb;
        border-color: #eaeeef;
    }

    &[readonly] {
        cursor: not-allowed;
        opacity: 1;
        color: #ced3d6;
        border-color: #eaeeef;
    }
}

.input-group {
    display: flex;
    & > * {
        margin-right: 4px;
        flex: 1;
        &:last-child {
            margin-right: 0;
        }
    }
    ._input {
        flex: auto;
        width: 100%;
    }
}

.form-static {
    min-height: 54px;
    padding: 16px 0;
    &-sm {
        height: auto;
        padding: 4px 0;
    }
}

.checkbox {
    padding: 16px 24px 16px 40px;
    line-height: 20px;
    vertical-align: middle;
    background-color: #fff;
    color: #4d5256;
    outline: 0 !important;
    border-radius: 4px;
    font-size: 14px;
    display: inline-block;;
    position: relative;
    //position: relative;
    //display: block;
    //margin-top: 16.5px;
    //margin-bottom: 0;
    input[type='checkbox'] {
        position: absolute;
        margin: 0 0 0 -40px;
        -webkit-appearance: none;
        border: none;
        top: 50%;
        outline: none !important;
        &:before {
            content: '';
            border: 2px solid #ced3d6;
            position: absolute;
            left: 0;
            display: inline-block;
            width: 22px;
            height: 22px;
            top: 0;
            margin-top: -14px;
            border-radius: 4px;
            transition: border-color 0.2s;
        }
        &:after {
            content: '';
            border: solid $green;
            display: inline-block;
            width: 10px;
            height: 5px;
            top: 0;
            margin-top: -6px;
            left: 7px;
            /* border-radius: 4px; */
            position: absolute;
            transform: rotate(-45deg);
            border-width: 0 0 2px 2px;
            opacity: 0;
            transition: opacity 0.2s;
        }
        &:checked {
            &:before {
                border-color: $green;
            }
            &:after {
                opacity: 1;
            }
        }
        &:hover {
            &:before {
                background-color: #ebfbf4;
            }
        }

        &[disabled] {
            color: #a9afb3;
            cursor: not-allowed;
            &:before {
                border-color: #EAEEE8;
            }
            &:hover {
                &:before {

                    background-color: initial;
                }
            }

        }
    }
}

.radio {
    padding: 16px 24px 16px 40px;
    line-height: 20px;
    vertical-align: middle;
    background-color: #fff;
    color: #4d5256;
    outline: 0 !important;
    border-radius: 4px;
    font-size: 14px;
    display: inline-block;;
    position: relative;
    //position: relative;
    //display: block;
    //margin-top: 16.5px;
    //margin-bottom: 0;
    input[type='radio'] {
        position: absolute;
        margin: 0 0 0 -40px;
        -webkit-appearance: none;
        border: none;
        top: 50%;
        outline: none !important;
        &:before {
            content: '';
            border: 2px solid #ced3d6;
            position: absolute;
            left: 0;
            display: inline-block;
            width: 22px;
            height: 22px;
            top: 0;
            margin-top: -14px;
            border-radius: 50%;
            transition: border-color 0.2s;
        }
        &:after {
            content: '';
            display: inline-block;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            position: absolute;
            background-color: $green;
            top: 50%;
            margin-top: -7px;
            left: 7px;
            opacity: 0;
            transition: opacity 0.2s;
        }
        &:checked {
            &:before {
                border-color: $green;
            }
            &:after {
                opacity: 1;
            }
        }
        &:hover {
            &:before {
                background-color: #ebfbf4;
            }
        }

        &[disabled] {
            color: #a9afb3;
            cursor: not-allowed;
            &:before {
                border-color: #EAEEE8;
            }
            &:hover {
                &:before {

                    background-color: initial;
                }
            }

        }
    }
}

.toggle-box {
    padding: 12px 0px 12px 0px;
    line-height: 20px;
    vertical-align: middle;
    height: 54px;
    background-color: #fff;
    color: #4d5256;
    outline: 0 !important;
    border-radius: 4px;
    font-size: 14px;
    display: inline-block;;
    position: relative;
    label {

    }
    input[type='checkbox'] {
        position: absolute;
        -webkit-appearance: none;
        border: none;
        top: 50%;
        outline: none !important;
        cursor: pointer;
        &:before {
            content: '';
            position: absolute;
            background-color: #e1e4e6;
            left: 0;
            display: inline-block;
            width: 80px;
            height: 30px;
            top: 0;
            margin-top: -15px;
            border-radius: 4px;
            transition: background-color 0.2s;
        }
        &:after {
            content: '';
            display: inline-block;
            width: 24px;
            height: 24px;
            background-color: white;
            top: 0;
            margin-top: -12px;
            left: 3px;
            /* border-radius: 4px; */
            position: absolute;
            border-width: 0 0 2px 2px;
            transition: left 0.2s;
            z-index: 1;
            border-radius: 4px;
        }
        &:checked {
            &:before {

                background-color: $green;
            }
            &:after {
                left: calc(80px - 3px - 24px)
            }
        }

        &[disabled] {
            color: #a9afb3;
            cursor: not-allowed;
            &:before {
                border-color: #EAEEE8;
            }
            &:hover {
                &:before {

                    background-color: initial;
                }
            }

        }

    }
}

.checkbox-group {
    &.checkbox-group-column {

    }
    &.checkbox-group-row {
        .checkbox + .checkbox {
            margin-top: -10px;
        }

        .checkbox {
            display: block;
            & > label {
                display: block;
            }
        }
    }
}

.radio-group {
    &.radio-group-column {

    }
    &.radio-group-row {
        .radio + .radio {
            margin-top: -10px;
        }

        .radio {
            display: block;
            & > label {
                display: block;
            }
        }
    }
}

.card {
    padding: 40px;
    border-radius: 4px;
    border: 1px solid #e1e4e6;
    &-header {
        margin-top: 0;
        margin-bottom: 20px;
        padding: 0 0 20px 0;
        color: #4d5256;
        font-size: 20px;
        line-height: 1.5;
        font-weight: 700;
        border-bottom: 1px solid #e1e4e6;
        text-transform: capitalize;
    }

    &-footer {
        margin: 20px -40px -40px -40px;
        padding: 20px 40px;
        border-top: 1px solid #e1e4e6;
        box-shadow: 0 -1px 3px -2px rgba(41, 42, 43, 0.2);

        text-align: right;
        button.btn {
            & + button.btn {
                margin-left: 4px;
            }
        }
    }

}


._table {

    &-header {
        margin: 0 0 20px;
        padding-bottom: 20px;
        font-size: 15px;
        font-weight: 700;
        border-bottom: 1px solid #e1e4e6;
    }

    &-filters {
        display: block;
        margin-bottom: 20px;
    }
    &-pagination {
        display: block;
        margin-bottom: 20px;
    }

    &-information {
        text-align: right;
        display: block;
        margin-bottom: 20px;
    }

    //real table code
    &-container {
        margin-left: -40px;
        margin-right: -40px;
        margin-bottom: 10px;
        width: calc(100% + (40px * 2));
        border-top: 1px solid #e1e4e6;
        border-bottom: 1px solid #e1e4e6;
        border-radius: 4px;

        border-collapse: separate;
        border-spacing: 0;
        thead {
            tr > th {
                padding: 16px 12px;
                text-align: left;

                border-bottom: 1px solid #e1e4e6;
                background-color: #f8fafb;
                font-size: 13px;
                font-weight: 700;
                vertical-align: bottom;
                &:first-child {
                    padding-left: 40px;
                }
            }
        }
        tbody {
            tr {
                transition: background-color 0.2s ease;
                &:hover {
                    background-color: rgba(76, 128, 241, 0.05);
                }
            }
            tr > td {
                padding: 16px 12px;
                text-align: left;

                border-bottom: 1px solid #e1e4e6;
                background-color: inherit;
                font-size: 13px;
                vertical-align: middle;
                &:first-child {
                    padding-left: 40px;
                }

            }
            tr {
                &:last-child {
                    td {
                        border-bottom: 0;
                    }
                }
            }
        }
    }
}

._table-pagination {
    margin: 20px 0px;
    .page-number {
        padding: 9px 14px;
        border: 1px solid transparent;
        cursor: pointer;

        transition: border 0.2s, background-color 0.2s;
        &.selected {
            background-color: #f8fafb;
            border: 1px solid #ced3d6;
            border-radius: 4px;
            text-decoration: none;
        }
        &:hover {
            color: #4c80f1;
            background-color: rgba(76, 128, 241, 0.05);
            border: 1px solid #4c80f1;
            border-radius: 4px;
            box-shadow: 0 1px 1px rgba(76, 128, 241, 0.5);
            text-decoration: none;
        }
        & + .page-number {
            margin-left: 4px;
        }
    }

    .page-prev, .page-next {
        padding: 10px 15px;
        cursor: pointer;
        &:hover {
            color: #4c80f1;
        }
    }
}