#modal-container > #modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    overflow: auto;

    #modal-blur {
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 20px;
        display: table;
        background-color: rgba(0, 0, 0, 0.2);

        #modal-wrapper {
            display: table-cell;
            vertical-align: middle;
            text-align: center
        }
        #modal-main {
            // position: absolute;
            // left: 50%;
            // top: 50%;
            text-align: left;
            display: inline-block;
            // transform: translate(-50%,-50%);

        }

    }
}

._modal {
    min-width: 500px;
    max-width: 90%;
    background-color: white;
    overflow: hidden;
    position: relative;
    //padding: 40px;
    border-radius: 8px;
    border: 1px solid #e1e4e6;

    ._modal-header {
        padding: 40px;
        font-size: 22px;
        h4 {
            margin: 0;
        }
        & + ._modal-body {
            padding-top: 20px;
        }
        & + ._modal-footer {
            padding-top: 20px;
        }

    }
    ._modal-body {
        padding: 40px;
        & + ._modal-footer {
            padding-top: 20px;
        }
    }
    ._modal-footer {
        padding: 40px;
        //border-top: 1px solid #eee;
        text-align: right;

        button + button {
            margin-left: 10px;
        }
    }
}
