@import 'variables';
@import 'grid';
@import 'animation';
@import 'layout';
@import 'form';

ul {
    padding: 0;
}

* {
    box-sizing: border-box;
}

a {
    &:visited {
        color: inherit;
        text-decoration: none;
    }
    &:active {
        color: inherit;
    }
    &:link{
        color: inherit;
        text-decoration: none;
    }
}

html{
    min-height: 100vh;
}
body {
    background-color: white;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
    }
}
