#main {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 210px;
    @media (min-width: 1200px) {
    }
    @media (max-width: 1200px) {
        padding-left: 10px;
        padding-right: 10px;
    }

    @media (max-width: 640px) {
        padding-bottom: 120px;
    }


    aside#sidebar + #main-container {
        @media (min-width: 1200px) {
            width: 900px;
            margin-left: 300px;
        }
    }

    #main-container {
        width: 100%;
    }

    aside#sidebar {
        @media (min-width: 1200px) {
            padding-top: 50px;
            position: sticky;
            float: left;
            top: 0;
            width: 280px;
            background-color: white;
            z-index: 1;
            transition: transform 0.5s;
        }
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        width: 280px;
        background-color: white;
        z-index: 1;
        transition: transform 0.5s;

        .sidebar-header {
            height: 60px;
            display: inline-block;
            padding: 0 20px;
            line-height: 60px;
            text-decoration: none;
            color: black;
            font-size: 20px;
            letter-spacing: 1px;
            @media (min-width: 1200px) {
                display: none;
            }
        }

        @media (min-width: 1200px) {
            transform: translateX(0) !important;
        }
        &.open {
            transform: translateX(0);
        }
        &.close {
            transform: translateX(-100%);
        }

    }
}

//
//$header-size: 60px;
//aside#sidebar {
//    position: fixed;
//    left: 0;
//    top: $header-size;
//    bottom: 0;
//    width: 280px;
//    background-color: white;
//    z-index: 1;
//    transition: transform 0.5s;
//
//    @media (min-width: 1200px) {
//        transform: translateX(0) !important;
//    }
//    &.open {
//        transform: translateX(0);
//    }
//    &.close {
//        transform: translateX(-100%);
//    }
//
//    & + #main-container {
//        @media (max-width: 1200px) {
//            padding-left: 20px;
//            padding-right: 20px;
//        }
//    }
//
//}

#floater-container {
    .floater-blur {
        background-color: transparent;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
    .floater {
        position: fixed;
    }
}

.flow-corner {
    position: fixed !important;
    bottom: 30px;
    right: 30px;
    width: 320px !important;
    height: 180px !important;
    z-index: 1;
    @media (max-width: 640px) {
        width: 160px !important;
        height: 90px !important;
    }
}